/*tipografia titulos*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/*tipografia saludo*/
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.section-1 {
    padding: 0;
    margin: 0;
    width: 98vw;
    height: 90vh;
}
.saludo {
    width: auto;
    height: 5vh;
    font-family: 'Life Savers', cursive;
    color: rgb(132, 129, 132);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
}
.principal {
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.perfil {
    margin-left: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
}
.personalidad {
    margin-right: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
}
.circulo-fondo {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform-origin: center;

    transform: translate(-50%, -50%) rotate(0deg);
    z-index: 0;
    animation: giroInfinito 80s linear infinite;
}
@keyframes giroInfinito {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.imagen-perfil {
    width: 120%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.foto {
    width: 100%;
    z-index: 1;
}

.seccion1a2 {
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.43);
}

.conoceme {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textBlink 2s linear infinite alternate;
}

@keyframes textBlink {
    0% {
        color: white;
    }
    50% {
        color: pink;
    }
    100% {
        color: white;
    }
}

/*seccion2*/
.section-2 {
    display: flex;
    flex-direction: row;
}
.foto-fondo {
    background-image: url(https://i.pinimg.com/736x/4b/c2/0f/4bc20f4f2b0db4d20c00789716b3bf9f.jpg);
    width: 50%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}
.sobre-mi {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
}
.link-portfolios {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    text-decoration: none;
    color: pink;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.portfolio {
    background-color: rgba(0, 0, 0, 0.597);
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    animation: slideInFromRight 1s ease-in-out forwards;
}
.portfolio:nth-child(1) {
    animation-delay: 0.3s;
}
.portfolio:nth-child(2) {
    animation-delay: 0.6s;
}
.portfolio:nth-child(3) {
    animation-delay: 0.8s;
}
.texto-sobremi {
    width: 90%;
    font-size: 0.7rem;
    text-align: justify;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    color: rgb(101, 62, 119);
}
/*seccion portofolio web*/
.portfolio-web , .portfolio-ux {
    margin-top: 1rem;
}
.seccion-videos {
    display: flex;
    height: 70vh;
    flex-direction: row;
}
.titulo-portfolio {
    padding: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    width:29vw;
    height:35vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.video-portfolio {
    padding: 1rem;
}
.descripcion {
    width: 100%;
    height: 20vh;
    margin-top: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(70, 70, 70);
    font-size: 0.7rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.tecnologias {
    width: 100%;
    height: 10vh;
}
.seccion-a-portfolios{
    width: auto;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.43);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: textBlink 2s linear infinite alternate;
}

@keyframes textBlink {
    0% {
        color: white;
    }
    50% {
        color: pink;
    }
    100% {
        color: white;
    }
}
/*SECCION PORTFOLIO UX*/
button {
    background-color: palevioletred;
    border: none;
    padding: 0.5rem;
    font-family: 'Life Savers', cursive;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.294);
    transition: all 0.3s ease; 
}

button:hover {
    transform: scale(1.2); 
    background-color: white; 
    color: palevioletred; 
}
